<!DOCTYPE html>
<html>
<head>
	<title>Reset Password Confirm</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
	form{
			width: 400px;
			height: 280px;
			background-color: #fff;
			padding: 30px 30px;
			margin: 100px auto;

			box-shadow: 4px 4px 15px grey;
		}
		input{
			margin-top: 15px;
			width: 220px;
			padding: 3px 4px;
		}
		input[type='submit']{
			
			background: transparent;
			border:2px solid #000;
		}
</style>
</head>
<body>
{% load crispy_forms_tags %}
<form method="POST">
	{% csrf_token %}
	{{ form | crispy }}
	<input type="submit" value="Submit" name="submit">
</form>
</body>
</html>