<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% include "stylebootstrap.html" %} 
	<style type="text/css">
		body{
			font-family: sans-serif;
		}
		#bg{
			background-image: linear-gradient(90deg,#B3FFAB, #B3FFAB);
		}
		form{
			width: 320px;
			height: 430px;
			background-color: #fff;
			padding: 40px 30px;
			text-align: center;
			margin: 50px auto;

			box-shadow: 4px 4px 15px grey;
		}
		input{
			margin-top: 23px;
			width: 220px;
			padding: 3px 4px;
		}
		input[type='submit']{
			background: transparent;
			border:2px solid #000;
		}
	</style>
</head>
<body>

{% include "nav.html" %} 
{% if error %}
<div class="alert alert-info alert-dismissible fade show" role="alert" id="msg-box">
  <strong>{{ error }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
	{% endif %}
<form method="POST" action="/register">
	<h4>Register Here</h4>
	{% csrf_token %}
	 <input type="text" name="name" placeholder="Your name">
	 <input type="text" name="username" placeholder="Username">
	 <input type="email" name="email" placeholder="Email">
	 <input type="password" name="password" placeholder="Password">
	<input type="submit" name="Submit">
	<p style="padding-top: 10px;">Already Registered ? <a href="/login">Login</a></p>
</form>
{% include "jsbootstrap.html" %} 
{% for i in x %}
{{i.email}}
{%endfor%}
</body>
</html>